<div class="container px-4">

  <div class="row">
    <div class="col">
      <h1>Login</h1>
    </div>
  </div>

  <div class="row">
    <div class="col"> 
      <%= form_with :url => "/sessions" do |form| %>
        <p>
          <%= form.label "email" %>
          <%= form.text_field "email" %>
          <%= form.label "password" %>
          <%= form.password_field "password" %>
          <%= form.submit "Login" %>
        </p>
      <% end %>
    </div>
  </div>

</div>