<div class="container px-4">

  <div class="row">
    <div class="col">
      <h1>New User Account</h1>
    </div>
  </div>

  <img width="100px" src="../031-clerk-avatar.png">

  <div class="row">
    <div class="col"> 
      <%= form_with :model => @user do |form| %>
          <%= form.label "username", class: "form-label" %>
          <%= form.text_field "username", class: "form-control" %>
          <%= form.label "first_name", class: "form-label" %>
          <%= form.text_field "first_name", class: "form-control" %>
          <%= form.label "last_name", class: "form-label" %>
          <%= form.text_field "last_name", class: "form-control" %>
          <%= form.label "email", class: "form-label" %>
          <%= form.text_field "email", class: "form-control" %>
          <%= form.label "password", class: "form-label" %>
          <%= form.password_field "password", class: "form-control" %>
          <%= form.submit "Sign up", :class => "btn btn-primary"  %>
      <% end %>
    </div>
  </div>

</div>

