<div class="container px-4">

  <div class="row">
    <div class="col">
      <h1>New User Account</h1>
    </div>
  </div>

  <div class="row">
    <div class="col"> 
      <%= form_with :model => @user do |form| %>
        <p>
          <%= form.label "username" %>
          <%= form.text_field "username" %>
          <%= form.label "first_name" %>
          <%= form.text_field "first_name" %>
          <%= form.label "last_name" %>
          <%= form.text_field "last_name" %>
          <%= form.label "email" %>
          <%= form.text_field "email" %>
          <%= form.label "password" %>
          <%= form.password_field "password" %>
          <%= form.submit "Sign up" %>
        </p>
      <% end %>
    </div>
  </div>

</div>

