<div class="container">

  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 bg-white">
        <h1><%= @place["name"] %></h1>
        <h2>Posts</h2>
      </div>
    </div>
  </div>
  
  <div class="places">
    <div class="row gy-5">
      <% if @posts%>
        <% for post in @posts %>
          <div class="col-md-4">
            <div class="p-3 border bg-light">
              <% if post.uploaded_image.attached? %>
                <img width="100px" src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
              <% else %>
                <img width="100px" src="../018-text book-black.png">
              <% end %>
              <h3><%= post["title"] %></h3>
              <p><%= post["posted_on"] %></p>
              <p><%= post["description"] %></p>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="col-md-4">
        <div class="p-3 border bg-light">
          <a href="/posts/new?place_id=<%= @place["id"] %>">
            <img class="place-img" width="100px" src="../015-add-black.png">
          </a>
          <a class="place-link" href="/posts/new?place_id=<%= @place["id"] %>">
            <h3>New Post</h3>
          </a>
        </div>
      </div>
    
    </div>
  </div>
  
  <div class="row gy-5">
    <div class="col">
      <div class="p-3 bg-white">
        <a class="btn btn-link" href="/places">Back to Places</a>
      </div>
    </div>
  </div>

</div>