<!DOCTYPE html>
<html>
  <head>
    <title>Travel Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../033-books-black.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Travel Library
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if @current_user %>
            <li class="nav-item">
              <a class="nav-link active" href="/">Places</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/places/new">New Place</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/show">Account</a>
            </li>
            <% end %>
          </ul>
          <div class="d-flex flex-row-reverse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if @current_user %>
              <li class="nav-item">
                <a class="nav-link disabled">Logged in as: <%= @current_user["username"] %></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-danger" href="/logout">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link active" href="/users/new">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-success" href="/login">Login</a>
              </li>
            <% end %>
            </ul>
            </div>
        </div>
      </div>
    </nav>

    <% if flash["notice"] %>
    <div class="container">
      <div class="row gy-5">
        <div class="col">
          <div class="p-3 border bg-light">
            <div class="flash"><%= flash["notice"] %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    
    <%= yield %>

  </body>
</html>
